.button {
  color: white;
  border-radius: 200px;
  width: 50px;
  height: 50px;
  outline: none;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
}
.button:active{
  box-shadow: none;
  transform: translate(2px, 2px);
}

.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}
.logo-container {
  padding: 20px 10px 10px 10px;
  padding-bottom: 0;
  margin-left: 26px;
  align-self: flex-start;
}

.container {
  width: 300px;
  background-color: #a71d36;
  margin: auto auto;
  border-radius: 15px;
}

.allButtons {
  display: flex;
  justify-content: center;
  align-content: center;

  width: 90%;
  margin-bottom: 20px;
}

.leftSide {
  display: flex;
  flex-direction: column;

  justify-content: center;
  height: 100%;
}

.specialButtons {
  width: 100%;

  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 10px;
}
.operatorButtons {
  display: grid;
  grid-gap: 10px;
  margin-left: 10px;
}
.numberButtons {
  width: 100%;

  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 10px;
  margin-top: 10px;
}
.zero {
  width: 110px;

  grid-column: 1 / 3;
}

.display {
  width: 230px;
  height: 60px;
  border-radius: 50px;
  background-color: #323335;
  margin: 10px 10px;
  color:white;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
}
.displayContent{
  margin-right: 15px;
}

.number {
  background-color: #184379;
}

.special {
  background-color: #225d9e;
}

.operator {
  background-color: #247293;
}
